@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
  min-height: 100vh;
}

.header {
  background-color: royalblue;
  border-radius: 2px;
  color: #fff;
  padding: 1rem;
}

main {
  width: 100vw; /* 100% of viewport width, but % removes the scrollbar which is recommended */
  background-color: papayawhip;
}

p {
  width: 80ch;
}