@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

html {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

body {
  border: 1px dashed #333;
  border-radius: 5px;
  padding: 1rem;
}

h3 {
  color: #eb5e28;
}

p {
  color: navy;
}

.general {
  /* Add transparency using rgba */
  color: rgba(255, 0, 0, 0.5);
}

span {
  /* Add transparency using hsla */
  color: hsl(71, 100%, 50%);
  background-color: #333;
  text-transform: uppercase;
}

p {
  color: green;
}
