@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.5;
}

header {
  background-color: royalblue;
  color: #fff;
  padding: 1rem;
  margin-bottom: 1rem;
}

p {
  text-align: justify;
  text-indent: 2em;
  margin-bottom: 1rem;
}

.strikethrough {
  text-decoration: line-through;
}

.underline {
  text-decoration: underline;
}

.overline {
  text-decoration: overline;
}

.upper {
  background-color: chocolate;
  color: white;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}
